.nav{
display: flex;
justify-content: space-between;
align-items: center;
h1{
  font-size: 40px;
  margin: 0;
  color: blueviolet;
}
.nav-search{
  flex: 1;
  margin-top: 5px;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  input{
    flex: 1;
    color: blueviolet;
    border:1px solid  blueviolet;
    height: 35px;
    border-right:0 ;
  }
  button{
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    // border-left: 0;
    font-size: 17px;
  }
}

ul{
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li{
   padding:  15px 0 0 15px;
   a{
    text-decoration: none;
    color: blueviolet;
   }
  }
}
}

