<div class="add-product">
    <h1>Add New Product</h1>
    <form #addProduct="ngForm"    class="common-form" (ngSubmit)="submit(addProduct.value)">
      <input
      type="text"
      placeholder="enter Product name"
      class="form-input"
      ngModel
      name="name"
    />
    <input type="text" class="form-input" placeholder="Enter Product price" name="price" ngModel>
    <input type="text" class="form-input" placeholder="Enter Product category" name="category" ngModel>
    <input type="text" class="form-input" placeholder="Enter Product color" name="color" ngModel>
      <textarea name="description" placeholder="Enter Product Description" class="form-input" type="text" id=""  ngModel></textarea>
    <input type="text" class="form-input" placeholder="Enter Product image url" name="image" ngModel>
    <button class="form-button">Add Product </button>

  </form>
</div>
