// section{
//   // background-color:lightblue ;
//   // height: 100vh;
// }
form{
  width: 350px;
  height: 450px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  position: absolute;
  top: 20%;
  left: 40%;

}
.validation-error{
  color:red;
}


